{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/analise.css" %}">
<section class="main">
    <div class="main-top">
      <h1>Clique em criar para gerar sua tabela de apoio!             </h1>
      <br>
      <hr>
      <a href="{% url "analise-copy" %}" class="button">Criar</a>
      <hr>
      <i class="fas fa-user-cog"></i>
      <h1></h1>
    </div>
    <hr>
    <div class="container_values">
        <form method="post" action="">
        {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br>
            <br>
            <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="value">Valor do aporte</label>
                    <input type="text" class="form-control" id="value" name="value_aporte">
                  </div>
                <br>
                <div class="col-md-4 mb-3">
                    <label for="value">Juros recebido</label>
                    <input type="text" class="form-control" id="value" name="value_juros">
                </div>
            </div>
            <br>
            <button class="button" type="submit">Cadastrar</button>
        </form>
    </div>
    <br>
    <br>

    <div class="table-responsive">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th>Patrimonio</th>
              <th>Juros</th>
              <th>Total Acumulado</th>
            </tr>
          </thead>
            <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
            </tbody>
        </table>
      </div>
      <div class="table-responsive">
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th>Total investido</th>
                <th>Juros</th>
                <th>Total Acumulado</th>
              </tr>
            </thead>
            {% for data in data_juros  %}
              <tbody>
                    <tr>
                      <td>R$:{{data.total_investido | floatformat}}</td>
                      <td>R$:{{data.juros | floatformat}}</td>
                      <td>R$:{{data.total_acumulado | floatformat}}</td>
                      <td></td>
                    </tr>
              </tbody>
            {% endfor %}
          </table>
        </div>
{% endblock %}