{% extends "partials/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "css/analise.css" %}">
<section class="main">
    <div class="main-top">
      <h1>Clique em criar para gerar sua tabela de apoio!             </h1>
      <br>
      <hr>
      <a href="{% url "analise-copy" %}" class="button">Criar</a>
      <hr>
      <i class="fas fa-user-cog"></i>
      <h1></h1>
    </div>
    <hr>
    <div class="container_values">
        <form method="post" action="">
        {% csrf_token %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <br>
            <br>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="value">Patrimonio Atual</label>
                    <input type="text" class="form-control" id="value" name="value" >
                </div>
                <div class="col-md-4 mb-3">
                    <label for="id_date">Data do aporte</label>
                    <input type="date" class="form-control" id="id_date" name="date" required>
                </div>
                <br>
                <div class="col-md-4 mb-3">
                    <label for="value">Valor do Aporte</label>
                    <input type="text" class="form-control" id="value" name="value">
                </div>
            </div>
            <br>
            <button class="button" type="submit">Cadastrar</button>
        </form>
    </div>
    <br>
    <br>
    <div class="table-responsive">
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Total investido</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
          <tbody>
          {% for value in data  %}
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{value.value_start}}</td>
                  <td></td>
                  <td></td>
                </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th>Mês</th>
              <th>Patrimonio</th>
              <th>Juros</th>
              <th>Rent %</th>
              <th>Total investido</th>
              <th>Juros</th>
              <th>Total Acumulado</th>
            </tr>
          </thead>
          {% for data in data_juros  %}
            <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>R$:{{data.total_investido | floatformat}}</td>
                    <td>R$:{{data.juros | floatformat}}</td>
                    <td>R$:{{data.total_acumulado | floatformat}}</td>
                    <td></td>
                  </tr>
            </tbody>
          {% endfor %}
        </table>
      </div>
{% endblock %}