.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #2c3e50;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  border-collapse: collapse;
}

.table thead th {
  background-color: #3498db;
  color: #ffffff;
  border: 1px solid #2980b9;
  padding: 10px;
  text-align: center;
}

.table tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

.table tbody tr:nth-child(odd) {
  background-color: #d4e6f1;
}

.table tbody tr {
  background-color: #bdc3c7;
}

.table tbody td {
  text-align: center;
  padding: 8px;
  border: 1px solid #bdc3c7;
}

.table tbody tr:hover {
  background-color: #3498db;
  color: #ffffff;
}
  
  /* Estilos para os campos de entrada */
  .form-control {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  

  .main {
    margin: 20px;
  }
  
  .main-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .main-top h1 {
    margin: 0;
  }
  
  .main-top hr {
    flex-grow: 1;
    margin-left: 20px;
  }

 
  .table-responsive {
    overflow-x: auto;
  }
  

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
  }
  

  .button:hover {
    background-color: #3498db;
    color: #fff;
  }
  

/* Estilos para a tabela-teste */
.table-test {
  width: 100%;
  margin-bottom: 1rem;
  color: #2c3e50;
  font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
  border-collapse: collapse;
}

.table-test thead th {
  background-color: #3498db;
  color: #ffffff;
  border: 1px solid #2980b9;
  padding: 10px;
  text-align: center;
}

.table-test tbody tr:nth-child(even) {
  background-color: #ecf0f1;
}

.table-test tbody tr:nth-child(odd) {
  background-color: #d4e6f1;
}

.table-test tbody tr {
  background-color: #bdc3c7;
}

.table-test tbody td {
  text-align: center;
  padding: 8px;
  border: 1px solid #bdc3c7;
}

.table-test tbody tr:hover {
  background-color: #35c419;
  color: #ffffff;
}


.form-control-test {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.main-test {
  margin: 20px;
}

.main-top-test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-top-test h1 {
  margin: 0;
}

.main-top-test hr {
  flex-grow: 1;
  margin-left: 20px;
}

.table-responsive-test {
  overflow-x: auto;
}

.button-test {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #3498db;
}

.button-test:hover {
  background-color: #3498db;
  color: #fff;
}
h2 {
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #3498db;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  margin-bottom: 20px;
}